@use 'colors' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 112.5%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: $main-bg;
	font-family: 'Rubik', sans-serif;
	padding: 4em 1em 1em;
}

// PERSON CARD
.header-card {
	position: relative;
	min-height: 160px;
	width: clamp(230px, 100%, 320px);
	background-color: $card-bg;
	border-radius: 12px;

	&-body {
		position: absolute;
		top: 0;
		width: 100%;
		height: 6rem;
		background-color: $blue;
		border-radius: 12px;

		&__heading {
			display: flex;
			align-items: center;
			justify-content: space-around;
			height: 100%;
			padding-left: 1em;
			padding-right: 1.5em;
		}

		&__pfp {
			width: 60px;
			border: 3px solid $main-color;
			border-radius: 50%;
		}

		&__title {
			font-size: 0.8rem;
			color: $pale-blue;
			font-weight: 300;

			p {
				margin-top: 0.2em;
				font-size: 1.2rem;
				color: $main-color;
			}
		}
	}

	&__time-periods {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		min-height: 160px;
		height: 100%;
		padding: 1em 1.5em;
	}

	&__button {
		font-size: 0.9rem;
		color: $desaturated-blue;
		background-color: transparent;
		border: none;
		cursor: pointer;
		transition: color 0.3s;

		&:hover,
		&:focus,
		&:active {
			color: $main-color;
		}
	}
}

// CARDS
.main {
	// display: flex;
	// justify-content: center;
	width: 100%;
}

.activities {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;

	&__work {
		background-color: $work;
		background-image: url(/images/icon-work.svg);
	}

	&__play {
		background-color: $play;
		background-image: url(/images/icon-play.svg);
	}

	&__study {
		background-color: $study;
		background-image: url(/images/icon-study.svg);
	}

	&__exercise {
		background-color: $exercise;
		background-image: url(/images/icon-exercise.svg);
	}

	&__social {
		background-color: $social;
		background-image: url(/images/icon-social.svg);
	}

	&__self-care {
		background-color: $self-care;
		background-image: url(/images/icon-self-care.svg);
	}

	&-card {
		position: relative;
		margin-top: 1em;
		min-height: 160px;
		width: clamp(230px, 100%, 320px);
		border-radius: 12px;
		background-repeat: no-repeat;
		background-position: 95% -5%;

		&__body {
			position: absolute;
			bottom: 0;
			padding: 1.5em 1em;
			height: 75%;
			width: 100%;
			background-color: $card-bg;
			border-radius: 10px;
			color: $main-color;
		}

		&__title {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__text {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 0;
			height: 50px;

			p {
				&:first-of-type {
					font-size: 1.5rem;
					font-weight: 300;
				}

				&:last-of-type {
					font-size: 0.8rem;
					color: $pale-blue;
				}
			}
		}
	}
}

// ATTRIBUTION
.attribution {
	margin-top: 2em;
	font-size: 0.5rem;
	text-align: center;
	color: $main-color;
}
.attribution a {
	color: hsl(228, 45%, 44%);
	text-decoration: none;
	transition: color 0.3s;

	&:hover {
		color: $pale-blue;
	}
}

// MEDIA
@media (max-width: 280px) {
	.header-card {
		&-body {
			&__heading {
				padding: 0;
				font-size: 0.5rem;
			}
		}
	}
}

@media (max-width: 320px) {
	.header-card {
		&-body {
			&__heading {
				padding: 0 0.5em;
			}
		}
	}
}

@media (min-width: 992px) {
	body {
		padding: 6em;
	}

	.activities {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr 1fr;
		gap: 0.5em 1em;

		.header-card {
			grid-row: 1 / 3;
			height: 100%;
			width: clamp(150px, 100%, 320px);

			&-body {
				height: 70%;

				&__heading {
					flex-direction: column;
					align-items: flex-start;
					justify-content: space-evenly;
				}

				&__title {
					padding-bottom: 2em;
					p {
						font-size: 2rem;
					}
				}
			}

			&__time-periods {
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-start;
			}

			&__button {
				padding: 0.5em 0;
			}
		}

		&-card {
			min-height: 190px;
			width: clamp(150px, 100%, 320px);

			&:nth-of-type(-n + 3) {
				grid-row: 1 / 2;
			}

			&:nth-of-type(n + 4) {
				grid-row: 2 / 3;
			}

			&:nth-of-type(1),
			&:nth-of-type(4) {
				grid-column: 2 / 3;
			}

			&:nth-of-type(2),
			&:nth-of-type(5) {
				grid-column: 3 / 4;
			}

			&:nth-of-type(3),
			&:nth-of-type(6) {
				grid-column: 4 / 5;
			}

			&__body {
				height: 80%;
			}
		}
	}

	.attribution {
		position: absolute;
		bottom: 3em;
		font-size: 0.7rem;
	}
}
// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// ### Primary

// - Blue: hsl(246, 80%, 60%)

// - Light red (work): hsl(15, 100%, 70%)
// - Soft blue (play): hsl(195, 74%, 62%)
// - Light red (study): hsl(348, 100%, 68%)
// - Lime green (exercise): hsl(145, 58%, 55%)
// - Violet (social): hsl(264, 64%, 52%)
// - Soft orange (self care): hsl(43, 84%, 65%)

// ### Neutral

// - Very dark blue: hsl(226, 43%, 10%)
// - Dark blue: hsl(235, 46%, 20%)
// - Desaturated blue: hsl(235, 45%, 61%)
// - Pale Blue: hsl(236, 100%, 87%)

// ## Typography

// ### Body Copy

// - Font size: 18px (card titles e.g. Work, Play)

// ### Font

// - Family: [Rubik](https://fonts.google.com/specimen/Rubik)
// - Weights: 300, 400, 500
